/* Allows nested modals in Backend */
.modal-backdrop {
    z-index: 5000;
}

/* Button color */
.btn-deployable-record {
    background: #d76c00;
}

/* Toolbar Item */
.toolbar-item-deployable-records.has-errors, .open.toolbar-item-deployable-records.has-errors .toolbar-item-link {
    background: firebrick;
}

.toolbar-item-deployable-records.not-in-sync {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(215, 108, 0, 0.4) 5px,
            rgba(215, 108, 0, 0.4) 10px
    );
}
.open.toolbar-item-deployable-records.not-in-sync .toolbar-item-link {
    color: #f5f5f5;
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(215, 108, 0, 0.7) 5px,
            rgba(215, 108, 0, 0.7) 10px
    );
}
/* Updated colors */
.toolbar-item-deployable-records .card {
    border-color: #333;
}
.toolbar-item-deployable-records .bg-success {
    background: darkolivegreen;
}
.toolbar-item-deployable-records .bg-warning {
    background: #d76c00;
}
.toolbar-item-deployable-records .bg-danger {
    background: firebrick;
}
.toolbar-item-deployable-records .text-success,
.toolbar-item-deployable-records .text-warning,
.toolbar-item-deployable-records .text-danger {
    color: #fff;
}

.toolbar-item-deployable-records .card-body {
    padding: 0 10px;
}

.toolbar-item-deployable-records .card-body h2 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 8px;
    border-bottom: 1px solid #fff;
}

.toolbar-item-deployable-records .card-body h2.card-title {
    border-bottom: none;
    padding: 0;
}
