<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{status.allInSync} && !{status.hasErrors}">
    <f:then>
        <!-- All okay -->
        <div class="card bg-success">
            <div class="card-body">
                <h2 class="card-title text-success">
                    <i class="fa fa-check text-success"></i>
                    All records in sync.
                </h2>
                <f:if condition="{settings._amount_records}">
                    <p class="card-text">
                        {settings._amount_records} Deployable Records found in total.
                    </p>
                </f:if>
            </div>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{status.hasErrors}">
            <f:then>
                <!-- Errors -->
                <div class="card bg-danger">
                    <div class="card-body">
                        <h2 class="card-title text-danger">
                            <i class="fa fa-warning text-danger"></i>
                            Errors detected!
                        </h2>
                        <p class="card-text">
                            {status.recordsWithErrors -> f:count()} records affected.
                        </p>
                    </div>
                </div>
            </f:then>
            <f:else>
                <!-- Diff -->
                <div class="card bg-warning">
                    <div class="card-body">
                        <f:if condition="{showButtons}">
                            <div class="pull-right">
                                <a class="btn btn-up btn-lg linksync" data-direction="db"><i class="fa fa-arrow-up"></i> Database</a>
                                <a class="btn btn-down btn-lg linksync" data-direction="dump"><i class="fa fa-arrow-down"></i> Dump</a>
                            </div>
                        </f:if>

                        <h2 class="card-title text-warning">
                            <i class="fa fa-warning text-warning"></i>
                            Differences detected!
                        </h2>
                        <p class="card-text">
                            {status.recordsOutOfSync -> f:count()} records affected.
                            <f:if condition="{status.recordsNewInDatabase -> f:count()}">({status.recordsNewInDatabase -> f:count()} new)</f:if>
                        </p>
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:else>
</f:if>

</html>
