<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="active">configuration</f:variable>
<f:layout name="Backend" />

<f:section name="content">
    <f:render partial="RecordsModule/Navigation" />

    <div class="content">
        <h2>Configuration</h2>
        <f:if condition="!{configTree.0.outputReal}">
            <f:then>
                <div class="alert alert-danger" role="alert">
                    <b>No valid output path configured!</b>
                    <f:if condition="{configTree.0.output}">
                        <f:then><br>Can't find configured path "{configTree.0.output}".</f:then>
                        <f:else><br>You need to set the output path in Extension configuration (for root level)!
                            <br><br>Click to <br>
                            <f:if condition="{d:be.typo3Version(returnInt:'1')} >= 9000000">
                                <f:then>Admin Tools > Settings > Extension Configuration > deployable_records</f:then>
                                <f:else>Admin Tools > Extensions > deployable_records</f:else>
                            </f:if>

                        </f:else>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <h3>Global</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">Output: <code>{configTree.0.output}</code></div>
                            <div class="col-md-3">Auto Dump:
                                <f:if condition="{configTree.0.autoDump}">
                                    <f:then><span class="badge badge-success">Enabled</span></f:then>
                                    <f:else><span class="badge badge-error">Disabled</span></f:else>
                                </f:if>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Real path: <code class="text-info">{configTree.0.outputReal}</code>
                    </li>
                </ul>

                <h3>Allowed Tables</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>Fields</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{configTree.0.tables}" as="fields" key="table">
                            <tr>
                                <td class="min-width">
                                    <d:be.recordIcon table="{table}" size="small" />&nbsp;{table}
                                </td>
                                <td>
                                    <a class="" data-toggle="collapse" href="#collapse_{table}" aria-expanded="false" aria-controls="collapse_{table}">
                                        {fields -> f:count()} fields
                                    </a>
                                    <div class="collapse" id="collapse_{table}">
                                        <ul class="list-inline">
                                            <f:for each="{fields}" as="fieldConfig" key="field">
                                                <f:if condition="{fieldConfig} == '1'">
                                                    <f:then><li><code>{field}</code></li></f:then>
                                                    <f:else><li title="This field has a special configuration."><code class="text-info">{field}*</code></li></f:else>
                                                </f:if>
                                            </f:for>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>

                <f:if condition="{configTree -> f:count()} > 1">
                    <f:then>
                        <h3>Extra config</h3>
                        <ul class="list list-unstyled">
                            <f:for each="{configTree}" key="uid" as="configDiff">
                                <f:if condition="{uid} > 0">
                                <li>
                                    <table class="table table-stripes">
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    <d:be.recordIcon table="pages" size="small">{configDiff.row}</d:be.recordIcon>
                                                    <span>{configDiff.row.title}</span> <small>[uid={uid}, pid={configDiff.row.pid}]</small>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <f:for each="{configDiff.diff}" as="value" key="key">
                                            <f:if condition="{key} !== 'tables'">
                                                <f:then>
                                                    <f:if condition="{key} !== 'outputReal'">
                                                    <tr>
                                                        <td>{key}</td>
                                                        <td><code>{value}</code></td>
                                                    </tr>
                                                    </f:if>
                                                </f:then>
                                                <f:else>
                                                    <!-- TODO view for tables on -->
                                                    <!--<tr>-->
                                                        <!--<td>Tables</td>-->
                                                        <!--<td>....</td>-->
                                                    <!--</tr>-->
                                                </f:else>
                                            </f:if>
                                        </f:for>
                                        </tbody>
                                    </table>
                                </li>
                                </f:if>
                            </f:for>
                        </ul>
                    </f:then>
                </f:if>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
