<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
    <f:render partial="RecordsModule/Navigation" />

    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <f:render partial="StatusCard" arguments="{status:status, showButtons:1}" />
                <f:if condition="!{status.allInSync} || {status.hasErrors}">
                    <f:if condition="{status.hasErrors}">
                        <f:then>
                            <!-- Errors -->
                            <div class="record-list">
                                <f:for each="{status.recordsWithErrors}" as="status">
                                    <f:render partial="RecordsModule/DeployableRecord/Item" arguments="{status:status}" />
                                </f:for>
                            </div>
                        </f:then>
                        <f:else>
                            <!-- Diff -->
                            <div class="record-list">
                                <f:for each="{status.recordsOutOfSync}" as="status">
                                    <f:render partial="RecordsModule/DeployableRecord/Item" arguments="{status:status}" />
                                </f:for>
                            </div>
                        </f:else>
                    </f:if>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>
