<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:variable name="active">records</f:variable>
<f:layout name="Backend" />

<f:section name="records">
    <div class="card card-records">
        <div class="card-body">
            <!--<h5 class="card-title">Records</h5>-->
            <ul class="tables list-unstyled">
                <f:for each="{records}" as="recs" key="table">
                    <li>
                        <div class="table-name">
                            <d:be.recordIcon table="{table}" size="small" /> {table}
                        </div>

                        <ul class="entries list-unstyled">
                            <f:for each="{recs}" as="record">
                                <li>
                                    <div class="actions">
                                        <f:render section="buttons" arguments="{record:record}" />
                                    </div>

                                    <span><d:be.recordIcon table="{record.table}" size="small">{record.row}</d:be.recordIcon> {record.identifier}</span>
                                    <small class="text-danger">uid={record.row.uid}</small>
                                    <span class="badge badge-info">{record.status}</span>
                                </li>
                            </f:for>
                        </ul>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</f:section>

<f:section name="pageRow">
    <li>
        <div class="card card-page">
            <div class="card-body">
                <div class="actions">
                    <f:render section="buttons" arguments="{record:pageStatus.page}" />
                </div>

                <div class="record-label">
                    <d:be.recordIcon table="{pageStatus.page.table}" size="small">{pageStatus.page.row}</d:be.recordIcon>
                    <b>{pageStatus.page.identifier}</b>
                    <small class="text-danger">uid={pageStatus.page.row.uid}</small>
                    <span class="badge badge-info">{pageStatus.page.status}</span>
                </div>

                <f:if condition="{pageStatus.records}">
                    <f:render section="records" arguments="{records: pageStatus.records}" />
                </f:if>

                <f:if condition="{pageStatus.children}">
                    <ul class="pages list-unstyled">
                        <f:for each="{pageStatus.children}" as="child">
                            <f:render section="pageRow" arguments="{pageStatus:child}" />
                        </f:for>
                    </ul>
                </f:if>
            </div>
        </div>
    </li>
</f:section>

<f:section name="buttons">
    <f:if condition="{record.row.uid} > 0">
        <be:link.editRecord uid="{record.row.uid}" table="{record.table}" class="btn btn-boring" title="Edit this record">
            <i class="fa fa-edit"></i>
        </be:link.editRecord>
    </f:if>

    <!-- TODO -->
    <a class="btn btn-danger" href="#" title="Remove from Deployable Records"><i class="fa fa-trash"></i></a>
</f:section>

<f:section name="content">
    <f:render partial="RecordsModule/Navigation" />

    <div class="content content-records">
        <div class="card card-page card-root">
            <div class="card-body">
                <div class="record-label">
                    <d:be.recordIcon table="pages" size="small" row="{uid:0}" />
                    <b>{sitename} (uid=0)</b>
                </div>

                <f:if condition="{rootLineDumpStatuses.records}">
                    <f:render section="records" arguments="{records: rootLineDumpStatuses.records}" />
                </f:if>

                <ul class="pages pages-root list-unstyled">
                    <f:for each="{rootLineDumpStatuses.children}" as="pageStatus">
                        <f:render section="pageRow" arguments="{pageStatus:pageStatus}" />
                    </f:for>
                </ul>
            </div>
        </div>
    </div>
</f:section>
</html>
