<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
<div class="">
    <f:flashMessages/>
    <f:be.container
            pageTitle="Deployable Records Backend Module"
            includeCssFiles="{0:'{f:uri.resource(path:\'Styles/Module.css\')}'}"
            includeRequireJsModules="{0:'TYPO3/CMS/DeployableRecords/DeployableRecords'}">

        <div class="deployable-records container">
            <h1>
                <c:icon identifier="ext-deployable-records-icon" size="default"></c:icon>
                Deployable Records <small>{d:be.version()}</small></h1>
            <f:render section="content"/>
        </div>
    </f:be.container>
</div>
</html>
