<ul class="nav nav-lg nav-tabs nav-fill">
    <li class="nav-item{f:if(condition:'{settings._action} == index',then:' active')}">
        <f:link.action action="index" class="nav-link">Status</f:link.action>
    </li>
    <li class="nav-item{f:if(condition:'{settings._action} == records',then:' active')}">
        <f:link.action action="records" class="nav-link">Records <span class="badge badge-secondary">{settings._amount_records}</span></f:link.action>
    </li>
    <li class="nav-item{f:if(condition:'{settings._action} == configuration',then:' active')}">
        <f:link.action action="configuration" class="nav-link">Configuration</f:link.action>
    </li>
</ul>
