.deployable-record td:first-child {
    position: relative;
    padding-left: 14px;
}
.deployable-record td:first-child:before {
    content: " ";
    width: 6px;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(
            45deg,
            #000,
            #000 5px,
            #d76c00 5px,
            #d76c00 10px
    );
    top: 0;
    left: 0;
}

.table-hover>tbody>tr.deployable-record {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(215, 108, 0, 0.1) 5px,
            rgba(215, 108, 0, 0.1) 10px
    );
}
.table-hover>tbody>tr.deployable-record:hover {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 5px,
            rgba(215, 108, 0, 0.2) 5px,
            rgba(215, 108, 0, 0.2) 10px
    );
}

.table-hover>tbody>tr.deployable-record:hover td {
    background: transparent;
}

.deployable-record .deployable-records-dump img,
.deployable-record .deployable-records-dump {
    background-color: #fff !important;
    /*border-color: #8b6861 !important;*/
}
