body {
    background: #fafafa;
}

.btn-up {
    color: #fff;
    background-color: #ff8700;
    border-color: #d76c00;
}
.btn-up:hover {
    color: #fff;
    background-color: #d76c00;
}

.btn-down {
    color: #fff;
    background-color: #5bb421;
    border-color: #6c9340;
}
.btn-down:hover {
    color: #fff;
    background-color: #6c9340;
}

.btn-boring {
    background-color: #ccc;
    border-color: #aaa;
}
.btn-boring:hover {
    background-color: #aaa;
    border-color: #888;
}

.deployable-records > h1:before {
    content: " ";
    position: fixed;
    left: 0;
    background: #ededed;


    width: calc(100% - 16px);
    margin-top: -50px;
    height: 125px;
    z-index: -1;
    overflow: visible;
}

.deployable-records .nav:before {
    content: " ";
    position: fixed;
    /*background: #ededed;*/
    background: linear-gradient(#ededed, #e2e2e2) !important;
    left: 0;
    width: calc(100% - 16px);
    height: 32px;
    z-index: 0;
    display: block;
    border-bottom: 1px solid #ccc;
    overflow: visible;
}

.deployable-records .nav {
    position: fixed;
    z-index: 1;
    top: 70px;
    background: linear-gradient(#ccc, #ededed) !important;
}
.deployable-records .content {
    padding-top: 130px;
}

.deployable-records > h1 {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 22px;
    background: #ededed;
    z-index: 1;
    position: fixed;
}


.deployable-records table {
    font-size: 12px !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.min-width {
    width: 1%;
    white-space: nowrap;
}

.list-group-item > .badge {
    float: none;
}

table.action-table td:last-child {
    white-space: nowrap;
}

.deployable-records .content .card,
.deployable-records .content-records .card {
    padding: 10px 20px !important;
}

.deployable-records .content-records .card {
    padding: 10px 20px !important;
    box-shadow: 3px 3px 10px rgba(0,0,0,.15) !important;
}
.deployable-records .content .card .card-title,
.deployable-records .content-records .card .card-title {
    font-weight: bold !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.deployable-records .content-records .card .card-text {
    padding-left: 25px;
}
.deployable-records .content-records .card .card-body .linksync {
    margin-top: 10px;
}

.deployable-records .record {
    clear: left;
}
.deployable-records .record .buttons {
    margin-top: 1rem;
}
.deployable-records .record .badge {
    margin-left: 1rem;
}
.deployable-records .record .icon {
    float: left;
    margin-right: 1rem;
}

.deployable-records .content-records .record .card-title .record-label {
    display: block;
    padding-top: 3px;
}

.deployable-records .content-records .card .card {
    background: #eee;
}
.deployable-records .content-records .card .card .card {
    background: #ddd;
}
.deployable-records .content-records .card .card .card .card {
    background: #ccc;
}
.deployable-records .content-records .card .card .card .card .card {
    background: #bbb;
}

.deployable-records .content-records .card .record-label {
    padding-bottom: 10px;
}

.deployable-records .content-records .card.card-records {
    padding: 0 !important;
}

.deployable-records .content-records .card.card-records .table-name {
    padding: 5px 10px;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#33000000',GradientType=1 );
}

.deployable-records .content-records .card.card-records ul.entries {
    margin: 4px 20px 15px;
}

.deployable-records .content-records .card.card-records ul.entries li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 8px 0;
}
.deployable-records .content-records .card.card-records ul.entries li:last-child {
    border-bottom: none;
}

.deployable-records .content-records .card.card-page .actions,
.deployable-records .content-records .card.card-records ul.entries li .actions {
    float: right;
    margin-top: -4px;
}
