<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- New (in database) -->
<f:section name="new">
    <f:if condition="!{status.hasErrors}">
        <a href="#" class="linkupload btn btn-success" data-identifier="{status.identifier}" data-table="{status.dumpRow.__table__}" data-direction="db">Add record to DB</a>
        <a href="#" class="linkmap btn btn-primary" data-identifier="{status.identifier}" data-table="{status.dumpRow.__table__}" data-direction="db">Map to existing record (TODO)</a>
    </f:if>
    <a href="#" class="linkremovedump btn btn-danger" data-identifier="{status.identifier}" data-table="{status.dumpRow.__table__}" data-direction="db">Remove from dump (TODO)</a>
</f:section>

<!-- Missing (in dump) -->
<f:section name="missing">
    <f:if condition="!{status.hasErrors}">
        <a href="#" class="linkupdate btn btn-primary" data-identifier="{status.identifier}" data-table="{status.table}" data-uid="{status.row.uid}" data-direction="dump">Write row to dump</a>
    </f:if>
    <a href="#" class="linkremove btn btn-danger" data-identifier="{status.identifier}" data-table="{status.table}" data-uid="{status.row.uid}" data-direction="dump">Remove from deployable records</a>
</f:section>

<!-- Differences detected -->
<f:section name="diff">
    <a class="btn btn-info" data-toggle="collapse" href="#collapse{status.deployableRecord.identifier}" aria-expanded="false" aria-controls="collapse{status.deployableRecord.identifier}">
        Show diff
    </a>

    <a href="#" class="linkupdate btn btn-primary" data-identifier="{status.identifier}" data-table="{status.table}" data-uid="{status.row.uid}" data-direction="db">Update DB</a>
    <a href="#" class="linkupdate btn btn-primary" data-identifier="{status.identifier}" data-table="{status.table}" data-uid="{status.row.uid}" data-direction="dump">Update dump</a>
</f:section>

<!-- All in sync -->
<f:section name="sync">
    All in sync.
</f:section>

</html>
