<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="new">
    <span class="badge badge-success" title="New in database">New</span>
</f:section>

<f:section name="missing">
    <span class="badge badge-danger" title="Missing in dump">Missing</span>
</f:section>

<f:section name="diff">
    <span class="badge badge-warning" title="Differences between database and dump detected">Not in sync</span>
</f:section>

<f:section name="sync" />

</html>
