<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/T3/DeployableRecords/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="card record">
    <div class="card-body">
        <div class="pull-right buttons">
            <f:render
                    partial="RecordsModule/DeployableRecord/Actions"
                    section="{status.status}"
                    arguments="{status:status}" />
        </div>

        <h4 class="card-title">
            <d:be.recordIcon table="{status.table}">{status.row}</d:be.recordIcon>
            <small class="record-label">{status.table}:{status.row.uid}</small>
            {status.identifier}

            <f:render
                    partial="RecordsModule/DeployableRecord/Badges"
                    section="{status.status}"
                    arguments="{status:status}" />
        </h4>

        <f:if condition="{status.hasErrors}">
            <div class="errors">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="bg-danger">Errors</th>
                    </tr>
                    </thead>
                    <f:for each="{status.errors}" as="error">
                        <tr>
                            <td>
                                {error.message}
                                <!-- TODO: Put this to a partial -->
                                <f:if condition="{error.missingRelationsGrouped}">
                                    <br>
                                    <ul>
                                    <f:for each="{error.missingRelationsGrouped}" as="record">
                                        <li>
                                            <span title="Referenced record">{record.table}:{record.uid}</span>
                                            <em title="Field with reference"> ({record.key})</em>
                                            <a href="#" class="deployable-records-dump btn btn-success"
                                               title="Add to deployable records" data-table="{record.table}" data-uid="{record.uid}">Add</a>
                                        </li>
                                    </f:for>
                                    </ul>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:if>

        <div class="collapse" id="collapse{status.deployableRecord.identifier}">
            <table class="table">
                <thead>
                <tr>
                    <th>Attribute</th>
                    <th class="half-width">DB</th>
                    <th class="half-width">Dump</th>
                </tr>
                </thead>
                <f:for each="{status.diff}" as="diff" key="attribute">
                    <tr>
                        <td>{attribute}</td>
                        <td>{diff.db -> f:debug(inline:'1', plainText:'1', title:'')}</td>
                        <td>{diff.dump -> f:debug(inline:'1', plainText:'1', title:'')}</td>
                    </tr>
                </f:for>
            </table>
        </div>
    </div>
</div>
</html>
