<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>New deployable record</title>-->
<!--</head>-->
<!--<body>-->
    <form action="#" class="form">

        <div class="row">
            <div class="form-group col-sm-9">
                <label for="dr_table_{{status.table}}_{{status.row.uid}}">Table</label>
                <!-- TODO Render dropdown with available tables -->
                <input required type="text" class="form-control" name="table" id="dr_table_{{status.table}}_{{status.row.uid}}" value="{{status.table}}">
            </div>
            <div class="form-group col-sm-3">
                <label for="dr_uid_{{status.table}}_{{status.row.uid}}">UID</label>
                <input required type="number" class="form-control" name="uid" id="dr_uid_{{status.table}}_{{status.row.uid}}" value="{{status.row.uid}}">
            </div>
        </div>

        <div class="form-group">
            <label for="dr_identifier_{{status.table}}_{{status.row.uid}}">Identifier</label>
            <input required type="text" class="form-control" name="identifier" placeholder="" id="dr_identifier_{{status.table}}_{{status.row.uid}}">
            <small>e.g. <a class="identifier-suggestion" href="#">{{status.identifierSuggestion}}</a></small>
        </div>

        <div class="options">
            <strong>Options</strong>
            <div class="form-group">
                <input type="checkbox" name="options.addToTypoScript" class="form-check-input" id="addToTypoScript_{{status.table}}_{{status.row.uid}}" checked value="1">
                <label class="form-check-label" for="addToTypoScript_{{status.table}}_{{status.row.uid}}">Add to TypoScript constants</label>
            </div>
        </div>

        {{#if missingRelatedRecordsCount }}
        <button disabled type="submit" class="btn btn-success">Add to deployment</button>
        {{else}}
        <button type="submit" class="btn btn-success">Add to deployment</button>
        {{/if}}
    </form>

    {{#if missingRelatedRecordsCount }}
        <fieldset class="missing-relations">
            <legend><i class="fa fa-warning" /> Missing Relations</legend>
            <p> Caution! This record has relations to records which are not marked as deployable record.</p>
            <ul>
                {{#each missingRelatedRecords as |record key|}}
                <li>
                    {{record.table}}:{{record.uid}}
                    <a href="#" class="deployable-records-dump btn btn-success" title="Add to deployable records" data-table="{{this.table}}" data-uid="{{this.uid}}">Add</a>
                </li>
                {{/each}}
            </ul>
        </fieldset>
    {{/if}}
<!--</body>-->
<!--</html>-->
