<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Item">
    <f:render partial="ToolbarItem" arguments="{
        title: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:toolbarItems.help',
        icon: '{core:icon(identifier: \'ext-deployable-records-icon-white\', size: \'small\', alternativeMarkupIdentifier: \'inline\')}'
    }" />
</f:section>

<f:section name="DropDown">
    <h3 class="dropdown-headline">Deployable Records</h3>
    <hr>
    <f:render partial="StatusCard" arguments="{status:status}" />
    <hr>
    <f:variable name="url">{f:be.uri(route:'tools_DeployableRecordsModule')}</f:variable>
    <a href="javascript:jump('{url}');" target="list_frame" class="btn btn-deployable-record">Go to Deployable Records</a>
</f:section>

</html>
